
<body style="background-image: url('../../assets/bg.jpg'); width:50;">
   
    <div class="bootstrap-wrapper "style=" float: right;" >
        <mat-card  style="border: 0vmax; border-color: skyblue;">
        <h1 class="text-center">Welcome Aspirant 🧑‍🎓</h1>
    <h2 class="text-center jumbotron" style="background-color: skyblue;" >

        𝓦𝓮 𝓪𝓻𝓮 𝓱𝓮𝓻𝓮 𝓽𝓸 𝓸𝓯𝓯𝓮𝓻 𝔂𝓸𝓾<br>𝓢𝓸𝓶𝓮
        𝓕𝓻𝓮𝓮 𝓜𝓸𝓬𝓴 𝓣𝓮𝓼𝓽 𝓢𝓮𝓻𝓲𝓮𝓼 𝓽𝓸 𝓪𝓬𝓮 𝔂𝓸𝓾𝓻 𝓹𝓻𝓮𝓹𝓪𝓻𝓽𝓲𝓸𝓷.<br></h2>
        <h3>Category Bronchure--> 
        <a href="../../assets/mycourse.pdf" download="mycourse">
           Test Categories
         </a>
         
        </h3>
        All the best 👍! 
    </mat-card>   

    <mat-card style="background-color:coral">
    <img src="../../assets/apti.png" height="200" width="200">
    <img src="../../assets/english.jpg" height="200" width="200">
 
    <img src="../../assets/genral.jpg" height="200" width="200">
    <br>
    <img src="../../assets/programming.png" height="200" width="200">
   
    <img src="../../assets/regioning.jpg" height="200" width="200">
    <img src="../../assets/current.jpg" height="200" width="200">
    </mat-card> 
     <mat-card>
         <h6 class="text-center"> Wishes You The Best !!</h6>
     </mat-card>
   </div>


 
 
</body>
